In [1]:
import numpy as np
import pandas as pd

In [2]:
train=pd.read_csv('../train/train_hot_encoded.csv',sep=' ')

In [3]:
train[:5]

,label,repeattrips,id,never_bought_company,never_bought_category,never_bought_brand,has_bought_brand_company_category,has_bought_brand_category,has_bought_brand_company,offer_value,...,offer_id_1219900,offer_id_1219903,offer_id_1220502,offer_id_1220503,offer_id_1221658,offer_id_1221663,offer_id_1221665,offer_id_1221666,offer_id_1221667,offer_id_1230218
0,1,5,86246,0,1,0,0,0,1,2.00,...,0,0,0,0,0,0,0,0,0,0
1,1,16,86252,0,0,0,1,1,1,0.75,...,0,0,0,0,0,0,0,0,0,0
2,0,0,12682470,1,0,1,0,0,0,0.75,...,0,0,0,0,0,0,0,0,0,0
3,0,0,12996040,1,1,1,0,0,0,0.75,...,0,0,0,0,0,0,0,0,0,0
4,0,0,13089312,0,1,0,0,0,1,1.50,...,0,0,0,0,0,0,0,0,0,0

In [4]:
train['label'].value_counts()

0    116619
1     43438
Name: label, dtype: int64